# Loading Dependencies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the Excel file

In [2]:
file_path = 'path_to_your_excel_file.xlsx'
df = pd.read_excel(file_path)

# Analysing Data

In [9]:
df.head()

,Match No.,Date,Time (IST),Team A,Team B,Location,Time Zone Diff for Opposition,Gender,League/Event,Rivalry,Series Type,No. of Teams,Match Type,Match Category,Finish Time (IST)
0,1,2024-08-15 00:00:00,14:00:00,India,Pakistan,India,IST,Men,World Cup,India vs Pakistan,World Cup,10.0,ODI,International,22:00:00
1,8,2024-08-15 00:00:00,14:00:00,India,Pakistan,India,IST,Men,World Cup,India vs Pakistan,World Cup,10.0,T20I,International,18:00:00
2,15,2024-08-15 00:00:00,18:00:00,West Indies,England,West Indies,AST (IST-9.5),Men,ENG tour of WI,NaN,Tri-Series,3.0,T20I,International,22:00:00
3,22,2024-08-15 00:00:00,14:00:00,Sri Lanka,India,Sri Lanka,SLST (IST-0.5),Men,Asia Cup,NaN,4-team Series,4.0,ODI,International,22:00:00
4,29,2024-08-15 00:00:00,14:00:00,England,Pakistan,England,BST (IST-4.5),Men,World Cup,NaN,World Cup,10.0,T20I,International,18:00:00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Match No.                      115 non-null    object
 1   Date                           114 non-null    object
 2   Time (IST)                     109 non-null    object
 3   Team A                         105 non-null    object
 4   Team B                         102 non-null    object
 5   Location                       102 non-null    object
 6   Time Zone Diff for Opposition  102 non-null    object
 7   Gender                         102 non-null    object
 8   League/Event                   101 non-null    object
 9   Rivalry                        13 non-null     object
 10  Series Type                    101 non-null    object
 11  No. of Teams                   100 non-null    float64
 12  Match Type                     100 non-null    object
 13  Match Category                 100 non-null    object
 14  Finish Time (IST)              100 non-null    object
dtypes: float64(1), object(14)
memory usage: 14.7+ KB

In [7]:
df.isna().sum()

Match No.                          9
Date                              10
Time (IST)                        15
Team A                            19
Team B                            22
Location                          22
Time Zone Diff for Opposition     22
Gender                            22
League/Event                      23
Rivalry                          111
Series Type                       23
No. of Teams                      24
Match Type                        24
Match Category                    24
Finish Time (IST)                 24
dtype: int64

In [10]:
unique_values = {}
for column in df.columns:
    unique_values[column] = df[column].unique()

print(unique_values)

{'Match No.': array([1, 8, 15, 22, 29, 36, 43, 50, 57, 64, 71, 78, 85, 92, 2, 9, 16, 23,
       30, 37, 44, 51, 58, 65, 72, 79, 86, 93, 3, 10, 17, 24, 31, 38, 45,
       52, 59, 66, 73, 80, 87, 4, 11, 18, 25, 32, 39, 46, 53, 60, 67, 74,
       81, 88, 5, 12, 19, 26, 33, 40, 47, 54, 61, 68, 75, 82, 89, 6, 13,
       20, 27, 34, 41, 48, 55, 62, 69, 76, 83, 90, 7, 14, 21, 28, 35, 42,
       49, 56, 63, 70, 77, 84, 91, 94, 95, 96, 97, 98, 99, 100, nan,
       'match Card Display', 'Match Card Removal', 'Parameters', 'Teams',
       'Time(IST)(Start Time)', 'Gender', 'Format', 'Is League',
       'No of Teams in Series', 'Match Category', 'Status',
       'Special Match', 'Special Cases to be Handled', 'World cup',
       'Rivalry'], dtype=object), 'Date': array([datetime.datetime(2024, 8, 15, 0, 0),
       datetime.datetime(2024, 8, 16, 0, 0),
       datetime.datetime(2024, 8, 17, 0, 0),
       datetime.datetime(2024, 8, 18, 0, 0),
       datetime.datetime(2024, 8, 19, 0, 0),
       datetime.datetime(2024, 8, 20, 0, 0),
       datetime.datetime(2024, 8, 21, 0, 0), nan,
       '24 hours before match start time',
       'show all Live and Upcoming matches and keep removing Completed matches if more than 3',
       'Outcomes According to weightage', 'India', '1700-2030 hrs',
       'Male', 'T20', 'Yes ', 'Higher number will have more weeightage',
       'International', 'Live', 'Final', 'According to formats',
       'Ind vs Pak'], dtype=object), 'Time (IST)': array([datetime.time(14, 0), datetime.time(18, 0), datetime.time(4, 30),
       datetime.time(15, 0), datetime.time(16, 0), datetime.time(19, 0),
       datetime.time(19, 30), datetime.time(21, 30), datetime.time(17, 0),
       datetime.time(20, 0), datetime.time(5, 30), datetime.time(10, 0),
       datetime.time(13, 0), datetime.time(12, 30), datetime.time(15, 15),
       nan, 'England', '1200-1700 hrs', 'Female', 'One Day', 'No',
       'Domestic', 'Upcoming', 'Semi final ', 'Ashes- Eng vs Aus'],
      dtype=object), 'Team A': array(['India', 'West Indies', 'Sri Lanka', 'England', 'South Africa',
       'St Kitts & Nevis', 'Lucknow Super Giants', 'Pakistan Women',
       'North West', 'Netherlands Women', 'Sydney Sixers', 'Australia',
       'Pakistan', 'Kolkata Knight Riders', 'Mumbai Indians',
       'Punjab Kings', 'Boland', 'KwaZulu-Natal Inland', 'Ireland',
       'Rajasthan Royals', 'Delhi Capitals', 'MI Cape Town', 'Nepal',
       'Afghanistan', 'Royal Challengers Bengaluru',
       'Sunrisers Hyderabad', 'Ireland Women', 'Bangladesh',
       'Gujarat Titans', 'South Africa Women', 'New Zealand', 'Oman',
       'Dolphins', 'Chennai Super Kings', 'Warriors', 'Titans',
       'United States of America Women', 'Dindigul Dragons',
       'Chepauk Super Gillies', 'Nellai Royal Kings',
       'Trichy Grand Cholas', 'Salem Spartans', 'Madurai Panthers', nan,
       '2030-2300 hrs', 'Test', 'Completed', 'Quarter'], dtype=object), 'Team B': array(['Pakistan', 'England', 'India', 'Australia', 'West Indies',
       'Jamaica Tallawahs', 'Sri Lanka', 'Gujarat Titans',
       'West Indies Women', 'Warriors', 'Sri Lanka Women',
       'Melbourne Stars', 'Rajasthan Royals', 'Delhi Capitals',
       'Mumbai Indians', 'Western Province', 'Lions',
       'Chennai Super Kings', 'Netherlands', 'South Africa', 'Bangladesh',
       'Thailand', 'Royal Challengers Bengaluru',
       'Royal Challengers Bangalore', 'New Zealand',
       'Sunrisers Hyderabad', 'Paarl Royals', 'Scotland', 'UAE',
       'Thailand Women', 'Zimbabwe', 'Punjab Kings', 'Afghanistan',
       'Kolkata Knight Riders', 'Lucknow Super Giants', 'Namibia',
       'KwaZulu-Natal Inland', 'Zimbabwe Women', 'Chepauk Super Gillies',
       'Trichy Grand Cholas', 'Madurai Panthers', 'Dindigul Dragons',
       'Salem Spartans', nan, '0900-1200'], dtype=object), 'Location': array(['India', 'West Indies', 'Sri Lanka', 'England', 'Australia',
       'South Africa', 'Pakistan', 'Ireland', 'Bangladesh', 'New Zealand',
       'Scotland', 'Nepal', 'United Arab Emirates', 'Qatar', nan,
       '2300-0100 hrs'], dtype=object), 'Time Zone Diff for Opposition': array(['IST', 'AST (IST-9.5)', 'SLST (IST-0.5)', 'BST (IST-4.5)',
       'AEST (IST+4.5)', 'SAST (IST-3.5)', 'PST (IST-0.5)',
       'ACST (IST+4)', 'IST-4.5', 'BST (IST-0.5)', 'IST-4.6',
       'NZST (IST+7.5)', 'AWST (IST+2.5)', 'NST (IST-0.5)',
       'GST (IST-1.5)', 'IST-4.7', 'QAT(IST-2.30)', nan, 'Newzealand',
       '0100-0600 hrs'], dtype=object), 'Gender': array(['Men', 'Women', nan, 'Srilanka', '0600-0900 hrs'], dtype=object), 'League/Event': array(['World Cup', 'ENG tour of WI', 'Asia Cup', 'The Ashes', 'CPL',
       'SA tour of SL', 'IPL', 'AUS tour of IND', 'WI tour of PAK',
       'SA20', "ICC Women's T20 World Cup Qualifier Warm-up Matches",
       'BBL', 'PAK tour of SA', 'SL tour of PAK', 'European League',
       'ENG tour of SA', 'IND tour of BAN', 'IND tour of AUS',
       'THAI tour of IRE', 'PAK tour of NZ', 'Tri-Series',
       'UAE tour of Nepal', 'AFG tour of PAK', 'IND tour of NZ',
       'ZIM tour of BAN', 'AFG tour of SA', 'SA tour of NZ',
       'SL tour of ENG', 'SA tour of AUS', 'World Cup Final',
       'SL tour of SA', 'NAM tour of QAT', 'NZ tour of AUS',
       'The Ashes Final', 'AUS tour of BAN', 'TNPL', nan, 'West Indies'],
      dtype=object), 'Rivalry': array(['India vs Pakistan', nan, 'England vs Australia', 'Afghanistan'],
      dtype=object), 'Series Type': array(['World Cup', 'Tri-Series', '4-team Series', '5 Test Series',
       'League', 'Bilateral', nan, 'Others'], dtype=object), 'No. of Teams': array([10.,  3.,  4.,  2.,  6.,  8., 12.,  9., nan]), 'Match Type': array(['ODI', 'T20I', 'Test', nan], dtype=object), 'Match Category': array(['International', 'Domestic', nan], dtype=object), 'Finish Time (IST)': array([datetime.time(22, 0), datetime.time(18, 0), datetime.time(21, 30),
       datetime.time(8, 30), datetime.time(19, 0), datetime.time(19, 30),
       datetime.time(23, 0), datetime.time(23, 30), datetime.time(1, 30),
       datetime.time(21, 0), datetime.time(0, 0), datetime.time(12, 30),
       datetime.time(2, 0), datetime.time(3, 0), datetime.time(17, 0),
       datetime.time(4, 0), datetime.time(13, 0), datetime.time(15, 30),
       datetime.time(20, 30), datetime.time(19, 15), nan], dtype=object)}

# Setting Priority Score - According to docs

In [11]:
priority_scores = {
    'Series Type': {'World Cup': 1, 'Other': 2},
    'Rivalry': {'Ind vs Pak': 1, 'Ashes': 2, 'Other': 3},
    'Status': {'Live': 1, 'Upcoming': 2, 'Completed': 3, 'Special Match': 4, 'Final': 5, 'Semi-final': 6, 'Quarter-final': 7},
    'Teams': {'India': 1, 'England': 2, 'Australia': 3, 'South Africa': 4, 'Pakistan': 5, 'New Zealand': 6, 'Sri Lanka': 7, 'West Indies': 8, 'Afghanistan': 9, 'Others': 10},
    'Time (IST)': {('1700', '2030'): 1, ('1200', '1700'): 2, ('2030', '2300'): 3, ('0900', '1200'): 4, ('2300', '0100'): 5, ('0100', '0600'): 6, ('0600', '0900'): 7},
    'Match Category': {'International': 1, 'Domestic': 2},
    'Format': {'T20': 1, 'One Day': 2, 'Test': 3},
    'Is League': {'Yes': 1, 'No': 2},
    'Gender': {'Male': 1, 'Female': 2}
}